body {
  overflow-x: hidden;
}

.banner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
}

#background-svg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#background-svg > g > path {
  fill: rgb(248, 248, 248);
  stroke: black;
  stroke-width: 5px;
  stroke-dashoffset: 0;
  stroke-dasharray: 4;
}

.opacity-0 {
  opacity: 0;
}

.achivements {
  background: rgb(230, 229, 229);
  background: url("../images/achivements-background.jpg") center/cover no-repeat;
  background-attachment: fixed;
}

.products-title-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
}

.products-title-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: transparent;
  z-index: 7;
}

.products-title {
  font-size: 3rem;
  position: absolute;
  top: 0%;
  left: 50%;
  color: rgb(170, 167, 167);
  z-index: 6;
  width: 300px;
}

.products-title-wrapper::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 5;
}

.product {
  overflow: hidden;
  position: relative;
}

.product-wrapper {
  position: relative;
  cursor: pointer;
  transition: all 1s;
}

.product-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.582);
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-wrapper:hover > .product-mask {
  transform: translateY(0%);
}

////////////////////////////////////////////////////////////////////////////////////////////////////
//Media Breakpoint
@media screen and (max-width: 768px) {
  #background-svg {
    width: 160%;
  }
}

@media screen and (max-width: 992px) {
  #background-svg {
    width: 130%;
  }
}

@media screen and (max-width: 1200px) {
  #background-svg {
    width: 100%;
  }
}
